In [1]:
import yfinance as yf
data=yf.download('NVDA',interval='1m',start='2025-07-25',end='2025-07-27',multi_level_index=False)
data

/var/folders/d_/rsnj8g2n4f362bxt3tz9n95w0000gn/T/ipykernel_57193/2589051105.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data=yf.download('NVDA',interval='1m',start='2025-07-25',end='2025-07-27',multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-07-25 13:30:00+00:00,173.674805,173.925003,173.580002,173.615005,4527794
2025-07-25 13:31:00+00:00,173.289993,173.848007,173.210007,173.669998,881145
2025-07-25 13:32:00+00:00,173.139999,173.449997,173.070007,173.290405,597818
2025-07-25 13:33:00+00:00,173.149994,173.289993,172.964996,173.149994,757782
2025-07-25 13:34:00+00:00,173.245300,173.419998,173.130203,173.139999,528404
...,...,...,...,...,...
2025-07-25 19:55:00+00:00,173.389999,173.479996,173.250000,173.434998,847629
2025-07-25 19:56:00+00:00,173.445007,173.475006,173.309998,173.389999,678943
2025-07-25 19:57:00+00:00,173.429993,173.460007,173.360001,173.440002,553532
2025-07-25 19:58:00+00:00,173.529999,173.539993,173.395004,173.437805,824343
2025-07-25 19:59:00+00:00,173.490005,173.600006,173.399994,173.520004,2112136

In [5]:
data['sma_10']=data['Close'].rolling(10).mean()
data

,Close,High,Low,Open,Volume,sma2,sma_10
Datetime,,,,,,,
2025-07-25 13:30:00+00:00,173.674805,173.925003,173.580002,173.615005,4527794,NaN,NaN
2025-07-25 13:31:00+00:00,173.289993,173.848007,173.210007,173.669998,881145,NaN,NaN
2025-07-25 13:32:00+00:00,173.139999,173.449997,173.070007,173.290405,597818,NaN,NaN
2025-07-25 13:33:00+00:00,173.149994,173.289993,172.964996,173.149994,757782,NaN,NaN
2025-07-25 13:34:00+00:00,173.245300,173.419998,173.130203,173.139999,528404,NaN,NaN
...,...,...,...,...,...,...,...
2025-07-25 19:55:00+00:00,173.389999,173.479996,173.250000,173.434998,847629,173.616899,173.616899
2025-07-25 19:56:00+00:00,173.445007,173.475006,173.309998,173.389999,678943,173.588899,173.588899
2025-07-25 19:57:00+00:00,173.429993,173.460007,173.360001,173.440002,553532,173.556898,173.556898
2025-07-25 19:58:00+00:00,173.529999,173.539993,173.395004,173.437805,824343,173.537898,173.537898
2025-07-25 19:59:00+00:00,173.490005,173.600006,173.399994,173.520004,2112136,173.524699,173.524699

In [4]:
!pip3 install pandas-ta

Collecting pandas-ta
  Using cached pandas_ta-0.3.14b0-py3-none-any.whl
Requirement already satisfied: pandas in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas-ta) (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas->pandas-ta) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas->pandas-ta) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas->pandas-ta) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas->pandas-ta) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->pandas-ta) (1.17.0)
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [7]:
!pip3 install setuptools

Collecting setuptools
  Using cached setuptools-80.9.0-py3-none-any.whl.metadata (6.6 kB)
Using cached setuptools-80.9.0-py3-none-any.whl (1.2 MB)
Installing collected packages: setuptools
Successfully installed setuptools-80.9.0

In [7]:
!pip3 install numpy==1.26.4

Collecting numpy==1.26.4
  Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.3.2
    Uninstalling numpy-2.3.2:
      Successfully uninstalled numpy-2.3.2
Successfully installed numpy-1.26.4

In [ ]:
!pip3 freeze

In [2]:
import pandas_ta as ta
data['sma']=ta.sma(data['Close'],length=10)
data

/Users/new algo trading/batch32/.venv/lib/python3.12/site-packages/pandas_ta/__init__.py:7: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import get_distribution, DistributionNotFound

,Close,High,Low,Open,Volume,sma
Datetime,,,,,,
2025-07-25 13:30:00+00:00,173.674805,173.925003,173.580002,173.615005,4527794,NaN
2025-07-25 13:31:00+00:00,173.289993,173.848007,173.210007,173.669998,881145,NaN
2025-07-25 13:32:00+00:00,173.139999,173.449997,173.070007,173.290405,597818,NaN
2025-07-25 13:33:00+00:00,173.149994,173.289993,172.964996,173.149994,757782,NaN
2025-07-25 13:34:00+00:00,173.245300,173.419998,173.130203,173.139999,528404,NaN
...,...,...,...,...,...,...
2025-07-25 19:55:00+00:00,173.389999,173.479996,173.250000,173.434998,847629,173.616899
2025-07-25 19:56:00+00:00,173.445007,173.475006,173.309998,173.389999,678943,173.588899
2025-07-25 19:57:00+00:00,173.429993,173.460007,173.360001,173.440002,553532,173.556898
2025-07-25 19:58:00+00:00,173.529999,173.539993,173.395004,173.437805,824343,173.537898
2025-07-25 19:59:00+00:00,173.490005,173.600006,173.399994,173.520004,2112136,173.524699

In [ ]:
!pip3 install TA-Lib

Collecting TA-Lib
  Using cached ta_lib-0.6.4.tar.gz (381 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from TA-Lib) (80.9.0)
Requirement already satisfied: numpy in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from TA-Lib) (2.3.2)
Building wheels for collected packages: TA-Lib
  Building wheel for TA-Lib (pyproject.toml) ... -

In [4]:
!pip3 install numpy==2.3.2

Collecting numpy==2.3.2
  Using cached numpy-2.3.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Using cached numpy-2.3.2-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
Successfully installed numpy-2.3.2

In [4]:
import talib as ta
data['sma2']=ta.SMA(data['Close'],10)
data

,Close,High,Low,Open,Volume,sma2
Datetime,,,,,,
2025-07-25 13:30:00+00:00,173.674805,173.925003,173.580002,173.615005,4527794,NaN
2025-07-25 13:31:00+00:00,173.289993,173.848007,173.210007,173.669998,881145,NaN
2025-07-25 13:32:00+00:00,173.139999,173.449997,173.070007,173.290405,597818,NaN
2025-07-25 13:33:00+00:00,173.149994,173.289993,172.964996,173.149994,757782,NaN
2025-07-25 13:34:00+00:00,173.245300,173.419998,173.130203,173.139999,528404,NaN
...,...,...,...,...,...,...
2025-07-25 19:55:00+00:00,173.389999,173.479996,173.250000,173.434998,847629,173.616899
2025-07-25 19:56:00+00:00,173.445007,173.475006,173.309998,173.389999,678943,173.588899
2025-07-25 19:57:00+00:00,173.429993,173.460007,173.360001,173.440002,553532,173.556898
2025-07-25 19:58:00+00:00,173.529999,173.539993,173.395004,173.437805,824343,173.537898
2025-07-25 19:59:00+00:00,173.490005,173.600006,173.399994,173.520004,2112136,173.524699